#job-container{
	/*border:solid;*/
	min-height:100px;
}

.job{
	margin: 10px;
	padding: 5px;
	border: solid;
	border-width: 1px;
	border-color: gray;
	border-radius: 10px;
	display: none;
}

.logo{
	width:180px !important;
	height:80px !important;
}

.company-name, .company-location, .distance{
	color:black;
	margin-bottom: 2px;
}

#load-more-button{
	margin: 40px;
}

#load-more-button-wrapper
{
    text-align:center;
}

#muse-logo{
	width:260px !important;
	height:52px !important;
}

#header{
	margin-bottom: 30px;
	margin-top: 30px;
}

#form-group{
	margin-top: 20px;;
}

#title{
	margin-bottom: 50px;
}

.form-control, label{
	margin-top: 10px;
}

#use-current-location{
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: white;
	margin-top: 10px;
	border: solid;
	border-color: gray;
}